{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "arrowParens": "avoid",
    "quoteProps": "consistent",
    "trailingComma": "all",
    "endOfLine": "lf"
}
